.table-row{
    cursor: pointer;
}
.table-row:hover{
    background-color: greenyellow;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid rgb(82, 231, 23); /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}
.loading-div{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}